body{
    font-family: 'Oswald', sans-serif;
    color: rgb(255, 192, 253);
    background-image: url("background.jpg");
}

#body{
    background-image: url("background.jpg");
}

.link{
    background: white;
    border-radius:10px ;
    width: 240px;
    margin-top: 25px;
    font-size: 28px;
    color: rgb(255, 192, 253);
    font-family: 'Oswald', sans-serif;
    
}

.header{
    background: white;
    position: fixed;
    margin:0px;
    width: 100%;
    
}

.link:hover{
    font-size: xx-large;
}

image{
    border: 5px solid rgb(89, 89, 89);
    border-radius: 5px;
}

.b1{
    float: right;
    margin: 20px;
    background-color: rgb(255, 220, 236);
    color: rgb(255, 132, 188);
    font-family: 'Fredoka One', cursive;
    border: 2px solid white;
    border-radius: 8px;
    
}